@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #aed581;
}

.panel-body {
  padding: 30px;
}

.voffset1 {
  margin-top: 15px; 
}

.voffset2 {
  margin-top: 30px; 
}

.voffset3 {
  margin-top: 45px; 
}

#title {
  margin-top: -8px;
}

#success-title {
  color: #43a047; 
  font-size: 40px;
}

.field_with_errors {
  color: #bf360c;
  font-size: 12px;
  margin-bottom: -21px;
}

.error {
  line-height: 180%;
}

.form-group {
  margin-bottom: 20px;
}

.non-valid-number {
  color: #bf360c;
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: -5px;
  height: 12px;
  display: block;
  -webkit-animation: fadeinout 4s linear forwards;
  animation: fadeinout 4s linear forwards;
  opacity: 0;
}

.valid-number {
  color: #00796b;
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: -5px;
  height: 12px;
  display: block;
  -webkit-animation: fadeinout 6s linear forwards;
  animation: fadeinout 6s linear forwards;
  opacity: 0;
}

@-webkit-keyframes fadeinout {
  50% { opacity: 1; }
}

@keyframes fadeinout {
  50% { opacity: 1; }
}
