@import "bootstrap-sprockets";
@import "bootstrap";
@-ms-viewport{
  width: device-width;
}

body {
  background-color: #aed581;
}

.panel-body {
  padding: 30px;
}

.voffset1 {
  margin-top: 15px; 
}

.voffset2 {
  margin-top: 30px; 
}

.voffset3 {
  margin-top: 45px; 
}

#success-title {
  color: #43a047; 
  font-size: 40px;
}

.field_with_errors {
  color: #bf360c;
  font-size: 12px;
  margin-bottom: -21px;
}

.error {
  line-height: 180%;
}

.form-group {
  margin-bottom: 20px;
}

.non-valid-number {
  color: #bf360c;
  font-size: 14px;
 
  margin-top: -5px;
  height: 12px;
  display: block;
  
}

.valid-number {
  color: #00796b;
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: -5px;
  height: 12px;
  display: block;
  
}


